{% extends template_constants.LAYOUT_LAYOUT_PATH %}

{% block head %}
{{ super() }}

<!-- Own include files -->
<link rel="stylesheet" type="text/css"
    href="{{ url_for(static_constants.ROOT_DIR, filename=static_constants.STYLES_ACTIVITY_PATH) }}">

{% endblock %}

{% block content %}
<div class="page-content">
    <section class="section--center mdl-grid">
        <div
            class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--6-col-phone">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text"> Crawler status:
                    <span class="badge badge-success mx-2">Active</span>
                </h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="row mb-3 py-2 px-3">
                    <span class="lead">Crawler is currently operational</span>
                </div>
                <div class="input-group col-sm-12 col-md-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">URL</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Source" name="startUrl" disabled>
                    <div class="input-group-append">
                        <form method="POST", action="{{ url_for(crawler_stop_endpoint) }}">
                            <button class="btn btn-outline-danger" type="submit">Stop crawling</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 my-3 d-flex flex-column">
                    <form id="crawlerStatusForm" method="GET", action="{{ url_for(crawler_status_endpoint) }}"></form>
                    <div class="row my-2">
                        <span class="lead my-1 col-12">Memory usage:</span>
                        {% if crawler_status.memoryUsage < 0.3 * memory_limit %}
                        <span class="py-2 mx-2 col-auto badge badge-success" id="crawlerMemoryUsage">
                        {% elif crawler_status.memoryUsage < 0.8 * memory_limit %}
                        <span class="py-2 mx-2 col-auto badge badge-warning" id="crawlerMemoryUsage">
                        {% else %}
                        <span class="py-2 mx-2 col-auto badge badge-danger" id="crawlerMemoryUsage">
                        {% endif %}
                        <span>
                            {{ "%.2fkB"|format(crawler_status.memoryUsage|float / 1024) }}
                        </span>
                            out of 
                            {{ "%.2fkB"|format(memory_limit|float / 1024) }}
                        </span>
                    </div>
                    <div class="row my-2">
                        <span class="lead my-1 col-12">Monitoring time:</span>
                        <span id="elapsedTimeCounter" class="py-2 px-3 mx-2 col-auto badge badge-dark">00d 00h 00m 00s</span>
                    </div>
                    <div class="row my-2">
                        <span class="lead my-1 col-12">Currently crawling:</span>
                        <span class="py-2 px-3 mx-2 col-auto badge badge-info" role='button' data-toggle="tooltip" id="crawlerCurrentCrawl"
                            data-placement="bottom" title="{{ crawler_status.url }}">{{ crawler_status.domain }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--6-col-phone">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text"> Parsing history </h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="row py-2 px-3">
                    <form id="parserStatusForm" method="GET", action="{{ url_for(parser_status_endpoint) }}">
                        <button class="btn btn-success mb-3"><i class="fas fa-sync-alt"></i> Refresh</button>
                    </form>
                    <table class="table table-hover mx-1" style="table-layout: fixed;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-4 overflow-hidden">Tag</th>
                                <th scope="col" class="col-3">Size</th>
                                <th scope="col" class="col-4 overflow-hidden">Domain</th>
                            </tr>
                        </thead>
                        <tbody id="parserStatusTable">
                            {% for entry in parser_status.content %}
                            <tr>
                                <th class="overflow-hidden" scope="row">{{loop.index0}}</th>
                                <td class="overflow-hidden"><span class="badge badge-dark">&lt;{{ entry.tag }}&gt;</span></td>
                                <td class="overflow-hidden">
                                    <span class="badge badge-danger">
                                    {{ "%.2fkB"|format(entry.size|float / 1024) }}
                                    </span>
                                </td>
                                <td class="overflow-hidden"><span class="badge badge-info" role='button' data-toggle="tooltip"
                                        data-placement="bottom" title="{{ parser_status.url }}">
                                        {{ parser_status.domain }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for(static_constants.ROOT_DIR, filename=static_constants.SCRIPTS_ACTIVITY_ACTIVE_PATH) }}"></script>
{% endblock %}