{% extends template_constants.LAYOUT_LAYOUT_PATH %}

{% block head %}
{{ super() }}

<!-- Own include files -->
<link rel="stylesheet" type="text/css"
      href="{{ url_for(static_constants.ROOT_DIR, filename=static_constants.STYLES_HOME_PATH) }}">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-content">
    <section class="section--center mdl-grid">
        <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop 
            mdl-cell--6-col-tablet mdl-cell--6-col-phone ">
            <div class="mdl-card__media"></div>
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text"> Cumulated memory usage </h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-card__supporting-text">
                    <h3 class="statistics-container h3-right"><span>0.0000</span> MB</h3>
                </div>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop
            mdl-cell--6-col-tablet mdl-cell--6-col-phone ">
            <div class="mdl-card__media"></div>
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text"> Total anchors extracted </h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-card__supporting-text">
                    <h3 class="statistics-container h3-right"><span>0</span></h3>
                </div>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col-desktop
            mdl-cell--6-col-tablet mdl-cell--6-col-phone">
            <div class="mdl-card__media"></div>
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text"> Total crawled web pages </h3>
            </div>
            <div class="mdl-card__supporting-text">
                <h3 class="statistics-container h3-right"><span>0</span></h3>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col-desktop
            mdl-cell--6-col-tablet mdl-cell--6-col-phone ">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text"> Highest tag yield by page </h3>
            </div>
            <div class="mdl-card mdl-cell--12-col-desktop 
            mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div id="chartContainer" style="height: 500px; width: 100%;"></div>
            </div>
        </div>
        {% if authenticated_user %}
            <form id="statisticsForm" method="GET", action="{{ url_for(auth_statistics_chart_endpoint) }}"
            alternative-action="{{ url_for(auth_statistics_endpoint) }}"></form>
        {% else %}
            <form id="statisticsForm" method="GET", action="{{ url_for(public_statistics_chart_endpoint) }}"
            alternative-action="{{ url_for(public_statistics_endpoint) }}"></form>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for(static_constants.ROOT_DIR, filename=static_constants.SCRIPTS_HOME_CONTROLS_PATH) }}"></script>
{% endblock %}