<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="px-5 row">
                    <button id="login-toggler" class="btn btn-light no-shadow py-3 standout-text col text-center">
                        Login
                    </button>
                    <button id="register-toggler" class="btn btn-dark no-shadow py-3 standout-text col text-center">
                        Register
                    </button>
                </div>
            </div>
            <!--
               LOGIN MODAL BODY
            -->
            <div id="login-modal-content" class="modal-body d-block">
                <div>
                    <form method="post" action="{{ url_for(authentication_endpoint) }}">
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text px-3"><i class="fa fa-at" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" name="username"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend show-hide-password">
                                    <div class="input-group-text px-3 pointer-cursor"><i class="fa fa-eye-slash"
                                                                                         aria-hidden="true"></i></div>
                                </div>
                                <input type="password" class="form-control" name="password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check ml-4">
                                <input class="form-check-input" type="checkbox" value="" name="rememberMe"
                                       checked>
                                <label class="form-check-label" for="remember-me-checkbox">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="my-4 row d-flex text-center justify-content-center">
                            <button class="btn btn-secondary">Authenticate</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                REGISTER MODAL BODY
            -->
            <div id="register-modal-content" class="modal-body d-none">
                <div>
                    <form method="post" action="{{ url_for(registration_endpoint) }}">
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text px-3"><i class="fa fa-at" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" name="username"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend show-hide-password">
                                    <div class="input-group-text px-3 pointer-cursor"><i class="fa fa-eye-slash"
                                                                                         aria-hidden="true"></i></div>
                                </div>
                                <input type="password" class="form-control" name="password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend show-hide-password">
                                    <div class="input-group-text px-3 pointer-cursor"><i class="fa fa-eye-slash"
                                                                                         aria-hidden="true"></i></div>
                                </div>
                                <input type="password" class="form-control" name="confirmPassword"
                                       placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="my-3 row d-flex text-center justify-content-center">
                            <button class="btn btn-secondary px-4">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">Forgot your password? <a href="#a" class="text-info">Reset password</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script type="text/javascript"
        src="{{ url_for(static_constants.ROOT_DIR, filename = static_constants.SCRIPTS_MODAL_PATH) }}"></script>
{% endblock %}