<div class="modal" id="login-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="px-5 row">
                    <button class="btn btn-light no-shadow py-3 standout-text col text-center"
                    data-toggler="authentication-togglee" data-toggle-group="authentication-registration">
                        Login
                    </button>
                    <button class="btn btn-dark no-shadow py-3 standout-text col text-center"
                    data-toggler="registration-togglee" data-toggle-group="authentication-registration">
                        Register
                    </button>
                </div>
            </div>
            <!--
               LOGIN MODAL BODY
            -->
            <div class="modal-body d-block"
            data-togglee="authentication-togglee" data-toggle-group="authentication-registration">
                <div>
                    <form class="ajax-handled" method="post" action="{{ url_for(authentication_endpoint) }}" novalidate
                    data-form-type="authentication">
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text px-3"><i class="fa fa-at" aria-hidden="true"></i></div>
                                </div>
                                <input type="email" class="form-control" name="username"
                                       placeholder="Username" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend show-hide-password">
                                    <div class="input-group-text px-3 pointer-cursor"><i class="fa fa-eye-slash"
                                                                                         aria-hidden="true"></i></div>
                                </div>
                                <input type="password" class="form-control" name="password" maxlength=30
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check ml-4">
                                <input class="form-check-input" type="checkbox" value="" name="keepAuthenticated"
                                       checked>
                                <label class="form-check-label">
                                    Keep me signed in
                                </label>
                            </div>
                        </div>
                        <div class="my-4 d-flex text-center flex-column align-items-center">
                            <button class="btn btn-secondary">Authenticate</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                REGISTER MODAL BODY
            -->
            <div class="modal-body d-none"
            data-togglee="registration-togglee" data-toggle-group="authentication-registration">
                <div>
                    <form class="ajax-handled" method="post" action="{{ url_for(registration_endpoint) }}" novalidate
                    data-form-type="registration">
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text px-3"><i class="fa fa-at" aria-hidden="true"></i></div>
                                </div>
                                <input type="email" class="form-control" name="username"
                                       placeholder="Username" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend show-hide-password">
                                    <div class="input-group-text px-3 pointer-cursor"><i class="fa fa-eye-slash"
                                                                                         aria-hidden="true"></i></div>
                                </div>
                                <input type="password" class="form-control" name="password" maxlength=30
                                       id="registerPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group my-4">
                                <div class="input-group-prepend show-hide-password">
                                    <div class="input-group-text px-3 pointer-cursor"><i class="fa fa-eye-slash"
                                                                                         aria-hidden="true"></i></div>
                                </div>
                                <input type="password" class="form-control" name="confirmPassword" required maxlength=30
                                       placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="my-3 d-flex flex-column text-center align-items-center">
                            <button class="btn btn-secondary px-4">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">Forgot your password? <a href="{{ url_for(confirmation_resending_get_endpoint) }}" class="text-info">Reset password</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script type="text/javascript"
        src="{{ url_for(static_constants.ROOT_DIR, filename = static_constants.SCRIPTS_MODAL_CONTROL_PATH) }}"></script>
<script type="text/javascript"
        src="{{ url_for(static_constants.ROOT_DIR, filename = static_constants.SCRIPTS_LOGIN_PATH) }}"></script>
{% endblock %}