<div class="modal fade" id="logoff-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-block">
                <div class="text-center">
                    <h1>Log off</h1>
                </div>
            </div>
            <div class="modal-footer row text-center justify-content-center">
                <div class="col-auto d-flex flex-column">
                    <span class="lead">Are you sure you want to sign out?</span>
                </div>
                <div class="col-auto mt-5 mb-3">
                    <img class="w-25 rounded mx-auto"
                        src="{{ url_for(static_constants.ROOT_DIR, filename=static_constants.IMAGES_LOGO_PATH) }}"
                        border="0">
                </div>
                <div class="col-auto">
                    <form method="post" action="{{ url_for(unauthentication_endpoint) }}">
                        <div class="my-4 row d-flex text-center justify-content-center">
                            <button class="px-5 btn btn-secondary" type="submit">Sign out</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer py-4"></div>
        </div>
    </div>
</div>