<div class="modal fade popup-on-launch intrusive-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-block">
                <div class="text-center">
                    <h1>Notification Sent</h1>
                </div>
            </div>
            <div class="modal-footer row text-center justify-content-center">
                <div class="col-auto d-flex flex-column">
                    <span class="lead">A notification has been sent to your email address</span>
                </div>
                <div class="col-auto my-5">
                    <img class="w-25 rounded mx-auto"
                        src="{{ url_for(static_constants.ROOT_DIR, filename=static_constants.IMAGES_LOGO_PATH) }}"
                        border="0">
                </div>
                <div class="col-auto d-flex flex-column">
                    <span class="lead">Follow the instructions within the email to proceed</span>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div>Confirmation not received? <a href="{{ url_for(confirmation_resending_get_endpoint) }}"
                        class="text-info">Resend
                        confirmation</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
{% endblock %}