<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for(home_endpoint) }}">
        <div class="icon material-icons" role="presentation">home</div>
        Dashboard
    </a>
    <a class="mdl-navigation__link" href="{{ url_for(activity_endpoint) }}">
        <div class="icon material-icons" role="presentation">list</div>
        Activity
    </a>
    <a class="mdl-navigation__link" href="{{ url_for(config_endpoint) }}">
        <div class="icon material-icons" role="presentation">settings_ethernet</div>
        Configuration
    </a>
    <a class="mdl-navigation__link" href="{{ url_for(archive_endpoint) }}">
        <div class="icon material-icons" role="presentation">snippet_folder</div>
        Archive
    </a>
    <a class="mdl-navigation__link" data-toggle="modal" data-target="#logoff-modal" href="">
        <div class="icon material-icons" role="presentation">logout</div>
        Sign out
    </a>
</nav>