<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for(home_endpoint) }}">
        <div class="icon material-icons" role="presentation">home</div>
        Dashboard
    </a>
    <a class="mdl-navigation__link" href="{{ url_for(data_crawled_endpoint) }}">
        <div class="icon material-icons" role="presentation">list</div>
        Activity
    </a>
    <a class="mdl-navigation__link" href="{{ url_for(home_endpoint) }}">
        <div class="icon material-icons" role="presentation">person</div>
        Profile
    </a>
    <a class="mdl-navigation__link" data-toggle="modal" data-target="#logoff-modal" href="">
        <div class="icon material-icons" role="presentation">logout</div>
        Sign out
    </a>
</nav>