<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title> Webster </title>

    {% include './include/layout-includes.html' %}
</head>

<body class="mdl-color--grey-100 mdl-color--text--grey-800 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--fixed-drawer">
        <header class="mdl-layout__header mdl-layout__header--fixed-header">
            <div id="title" class="mdl-layout__header-row mdl-color--primary" style="width: 100%;">

                <span class="mdl-layout--small-screen-only mdl-layout-title">
                    <a href="" target="_self" style="color: white; text-decoration: none;">
                        <h3 style="padding-left: 35px">Webster</h3>
                    </a>
                </span>
                <div style="height: 5px"
                    class="mdl-layout--large-screen-only mdl-layout__header-row mdl-color--primary">

                </div>
                <div class="mdl-layout-spacer"></div>
            </div>

        </header>
        <div class="mdl-layout__drawer">

            <span class="mdl-layout-title">
                <a href="" target="_self" style="color: black; text-decoration: none;">

                    <h3>
                        <img class="mdl-layout--large-screen-only"
                            src="{{ url_for('static', filename='images/favicon.png') }}" width="auto" height="auto"
                            border="0" style="vertical-align: middle">Webster
                    </h3>
                </a>
            </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">
                    <div class="icon material-icons" role="presentation" style="padding-right: 5px">home</div>
                    Dashboard
                </a>
                {% if logged_in %}
                <a class="mdl-navigation__link" href="{{ url_for('login') }}">
                    {% else %}
                    <a class="mdl-navigation__link" data-toggle="modal" data-target="#login-modal" href="">
                        {% endif %}
                        <div class="icon material-icons" role="presentation" style="padding-right: 5px">person</div>
                        Profile
                    </a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                {% block content %}

                {% endblock %}
                <footer class="demo-footer mdl-mini-footer">
                </footer>
            </section>
        </main>
    </div>
    {% if not logged_in %}
    {% include './modal/login.html' %}
    {% endif %}

</body>

</html>