{% extends "./layout/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title> Webster </title>

<!-- Foreign include files -->
{% include './include/material-design-includes.html' %}
{% include './include/bootstrap-includes.html' %}

<!-- Own include files -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css') }}">
{% endblock %}

{% block body %}
<div class="mdl-color--grey-100 mdl-color--text--grey-800 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--fixed-drawer">
        <header class="mdl-layout__header mdl-layout__header--fixed-header">
            <div id="title" class="mdl-layout__header-row mdl-color--primary">

                <span class="mdl-layout--small-screen-only mdl-layout-title">
                    <a href="" target="_self" id="small-title">
                        <h3>Webster</h3>
                    </a>
                </span>
                <div class="mdl-layout--large-screen-only mdl-layout__header-row mdl-color--primary" id="title-large-spacer">

                </div>
                <div class="mdl-layout-spacer"></div>
            </div>

        </header>
        <div class="mdl-layout__drawer">

            <span class="mdl-layout-title">
                <a href="" target="_self">

                    <h3>
                        <img class="mdl-layout--large-screen-only"
                            src="{{ url_for('static', filename='images/favicon.png') }}" width="auto" height="auto"
                            border="0">Webster
                    </h3>
                </a>
            </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">
                    <div class="icon material-icons " role="presentation">home</div>
                    Dashboard
                </a>
                {% if logged_in %}
                    <a class="mdl-navigation__link" href="{{ url_for(home_endpoint) }}">
                {% else %}
                    <a class="mdl-navigation__link" data-toggle="modal" data-target="#login-modal" href="">
                {% endif %}
                    <div class="icon material-icons" role="presentation">person</div>
                    Profile
                </a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                {% block content %}

                {% endblock %}
                <footer class="demo-footer mdl-mini-footer">
                </footer>
            </section>
        </main>
    </div>
    {% if not logged_in %}
    {% include './modal/login.html' %}
    {% endif %}
</div>
{% endblock %}