<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for(home_endpoint) }}">
        <div class="icon material-icons " role="presentation">home</div>
        Dashboard
    </a>
    <a class="mdl-navigation__link" data-toggle="modal" data-target="#login-modal" href="">
        <div class="icon material-icons " role="presentation">list</div>
        Activity
    </a>
    <a class="mdl-navigation__link" data-toggle="modal" data-target="#login-modal" href="">
        <div class="icon material-icons" role="presentation">login</div>
        Sign in
    </a>
</nav>