a {
    text-decoration: none !important;
}

.mdl-layout__tab-panel {
    padding-top: 2%;
}

.section--center {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#title {
    padding-left: 5%;
    width: 100%;
}

#title02 {
    color: #fff;
    width: 100%;
    height: 100%;
}

.mdl-layout {
    font-family: Roboto;
}

#menu01 {
    margin-left: 77.5%;
}

.demo-card-event.mdl-card {
    background: #3E4EB8;
}

.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}

    .demo-card-event > .mdl-card__title > h4 {
        margin-top: 0;
    }

.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

    .demo-card-event > .mdl-card__actions > .material-icons {
        padding-right: 10px;
    }

    .demo-card-event > .mdl-card__title,
    .demo-card-event > .mdl-card__actions,
    .demo-card-event > .mdl-card__actions > .mdl-button {
        color: #fff;
    }


.text-center {
    text-align: center;
}

.standout-text {
    font-family: Roboto;
    font-size: 1rem;
}

.pointer-cursor {
    cursor: pointer;
}

.no-shadow{
    box-shadow: none !important;
}

.mdl-layout__drawer > .mdl-layout-title > a {
    color: black;
    text-decoration: none;
}

.mdl-layout__drawer > .mdl-layout-title > a > h3 > .mdl-layout--large-screen-only {
    vertical-align: middle;

}

.mdl-layout__drawer > .mdl-navigation > .mdl-navigation__link > .material-icons {
    padding-right: 5px;
}

/*.mdl-layout__header--fixed-header > mdl-layout__header-row >*/

#small-title {
    color: white;
    text-decoration: none;
}

#small-title > h3 {
    padding-left: 35px;
}

#title-large-spacer {
    height: 5px;
}